<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_recipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var max_fields = 10;
            var wrapper = $(".container_fields");
            var add_button = $(".add_form_field");

            var x = 1;
            $(add_button).click(function(e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    $(wrapper).append('\
                    <div class="row">\
                        <div class="col-25">\
                        <label>Product ' + x + '</label>\
                        <br>\
                        <a href="#" class="delete">Remove</a>\
                        </div>\
                        <div class="col-75">\
                        <select name="id_of_product' + x + '">\
                            {% for product in products %}\
                                <option value="{{ product.id }}">{{ product.name }} ({{ product.unit }})</option>\
                            {% endfor %}\
                        </select>\
                        <input type="number" min="0" step="0.001" name="quantity_of_product' + x + '" placeholder="Quantity!" required>\
                        </div>\
                    </div>\
                    ');
                } else {
                    alert('You Reached the limits')
                }
            });

            $(wrapper).on("click", ".delete", function(e) {
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
                x--;
            })
        });
    </script>
    <title>Create Recipe</title>
</head>
<body>
    <div style="margin-top: 5rem;">
        <div class="page">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                    <li class="menu__group"><a href="/recipes" class="menu__link">Recipes</a></li>
                    <li class="menu__group"><a href="/my_recipes" class="menu__link">My Recipes</a></li>
                    <li class="menu__group"><a href="/create_recipe" class="menu__link">Create</a></li>
                    <li class="menu__group"><a href="/profile" class="menu__link">Profile</a></li>
                    <li class="menu__group"><a href="/logout" class="menu__link">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <form action="/create_recipe" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                    <label>Recipe Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="recipe_name" placeholder="Your recipe name...">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>Picture</label>
                </div>
                <div class="col-75">
                    <input type="file" name="file" class="file">
                </div>
            </div>
          
            <div class="container_fields">
                <div class="row">
                <div class="col-25">
                    <label>Product 1</label>
                </div>
                <div class="col-75">
                    <select name="id_of_product1">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }} ({{ product.unit }})</option>
                        {% endfor %}
                    </select>
                    <input type="number" min="0" step="0.001" name="quantity_of_product1" placeholder="Quantity!" required>
                </div>
                </div>
            </div>

            <div class="row">
                <button class="add_form_field">Add</button>
            </div>

            <div class="row">
                <div class="col-25">
                <label>Time to prepare</label>
                </div>
                <div class="col-75">
                <input type="number" min="0" name="time" placeholder="Time to prepare">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                <label>Description of your Recipe</label>
                </div>
                <div class="col-75">
                <textarea name="description" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
            </form>
        </div>
    
</body>
</html>