<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d59ec7036.js" crossorigin="anonymous"></script>
    <title>Profile</title>
</head>
<body>
    <div style="margin-top: 5rem;">
        <div class="page">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/recipes" class="menu__link">Recipes</a></li>
                {% if not current_user.is_authenticated %}
                    <li class="menu__group"><a href="/login" class="menu__link">Log In</a></li>
                    <li class="menu__group"><a href="/register" class="menu__link">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="menu__group"><a href="/my_recipes" class="menu__link">My Recipes</a></li>
                    <li class="menu__group"><a href="/create_recipe" class="menu__link">Create</a></li>
                    <li class="menu__group"><a href="/profile" class="menu__link">Profile</a></li>
                    <li class="menu__group"><a href="/logout" class="menu__link">Logout</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="hi">
        {% if current_user.is_authenticated %}
            Hi {{ current_user.username }}!
        {% endif %}
        <a href="/insert">Refresh</a>
    </div>


    <div class="flex-container">
        <div class="container">
            <h3>Products in your fridge:</h1>
            {% for f in products %}
            <div class="product">
                {{ f.find_by_product_id(f.product_id).name }} </br>
                {% if f.find_by_product_id(f.product_id).name == "Egg" %}
                    {{ f.quantity }}
                {% else %}
                    {{ f.quantity }} {{ f.find_by_product_id(f.product_id).unit }}  </br>
                {% endif %}
            </div>
            {% endfor %}
        </div>


        <div class="container">
            {% if suggested_recipe.name == "suggestion failled" %}
            <h3>Daily Suggestion:</h3>
            You don't have enough products! </br>
            {% endif %}
            {% if suggested_recipe.name != "suggestion failled" %}
                <h3>Daily Suggestion:</h3>
                Title: <a href="/recipes/{{ suggested_recipe.id }}">{{ suggested_recipe.name }} </a></br>
                Description: {{ suggested_recipe.description }} </br>
                Time to prepare: {{ suggested_recipe.time }} mins <br>
                {% for ingredient in ingredients %}
                    <div class="product">
                        {{ product.find(ingredient.product_id).name }} <br>
                        {% if product.find(ingredient.product_id).name == "Egg" %}
                            {{ ingredient.quantity }} <br>
                        {% else %}
                            {{ ingredient.quantity }} {{ product.find(ingredient.product_id).unit }} <br>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">Month</th>
        <th class="text-left">Sales</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
        <td class="text-left">January</td>
        <td class="text-left">$ 50,000.00</td>
        </tr>
        <tr>
        <td class="text-left">February</td>
        <td class="text-left">$ 10,000.00</td>
        </tr>
        <tr>
        <td class="text-left">March</td>
        <td class="text-left">$ 85,000.00</td>
        </tr>
        <tr>
        <td class="text-left">April</td>
        <td class="text-left">$ 56,000.00</td>
        </tr>
        <tr>
        <td class="text-left">May</td>
        <td class="text-left">$ 98,000.00</td>
        </tr>
        </tbody>
        </table>
</body>
</html>-->

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <title>Recipes</title>
</head>
<body>
    <div style="margin-top: 5rem;">
        <div class="page">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/recipes" class="menu__link">Recipes</a></li>
                {% if not current_user.is_authenticated %}
                    <li class="menu__group"><a href="/login" class="menu__link">Log In</a></li>
                    <li class="menu__group"><a href="/register" class="menu__link">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="menu__group"><a href="/my_recipes" class="menu__link">My Recipes</a></li>
                    <li class="menu__group"><a href="/create_recipe" class="menu__link">Create</a></li>
                    <li class="menu__group"><a href="/profile" class="menu__link">Profile</a></li>
                    <li class="menu__group"><a href="/logout" class="menu__link">Logout</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {% for recipe in recipes %}
        <figure class="pizza">
            <div class="pizza__hero">
                <a href="/recipes/{{ recipe.id }}"><img src="{{ recipe.picture }}" alt="pizza" class="pizza__img"></a>
            </div>
            <div class="pizza__content">
                <div class="pizza__title">
                    <h1 class="pizza__heading">{{ recipe.name }}</h1>
                    <!-- <div class="pizza__tag pizza__tag--1">#vegetarian</div>
                    <div class="pizza__tag pizza__tag--2">#italian</div> 
                </div>
                <p class="pizza__description">{{ recipe.description }}</p>
                <div class="pizza__details">
                    <p class="pizza__detail"><span class="emoji">🍕</span>850kcal</p>
                    <p class="pizza__detail"><span class="emoji">⏱</span>{{ recipe.time }} min</p>
                    <p class="pizza__detail"><span class="emoji">⭐</span>{{ recipe.get_overall_rating() }} / 5</p>
                </div>
            </div>
            
        </figure>
    {% endfor %}
    
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Ma what's for dinner?</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

</head>

<body>
    

       <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="../static/img/core-img/logo.png" alt=""></a>


                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/index">Home</a></li>
                                    <li ><a href="/recipes">Recipes</a></li>
                                    {% if not current_user.is_authenticated %}
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                    {% else %}
                                        <li><a href="/my_recipes">My Recipes</a></li>
                                        <li class="active"><a href="/profile">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../static/img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### 
    
    {% for f in products %}
            <div class="product">
                {{ f.find_by_product_id(f.product_id).name }} </br>
                {% if f.find_by_product_id(f.product_id).name == "Egg" %}
                    {{ f.quantity }}
                {% else %}
                    {{ f.quantity }} {{ f.find_by_product_id(f.product_id).unit }}  </br>
                {% endif %}
            </div>
            {% endfor %}
    -->


    <!-- ##### Blog Area Start ##### -->
    

    <div class="blog-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        <!-- Single Blog Area -->


                        <div>
                            <table class="table-fill">
                            <thead>
                                <tr>
                                    <th class="text-left">Products</th>
                                    <th class="text-left">Amount</th>
                                </tr>
                            </thead>
                                <tbody class="table-hover">
                                {% for f in products %}
                                    <tr>
                                        <td class="text-left">{{ f.find_by_product_id(f.product_id).name }}</td>
                                        <td class="text-left">{% if f.find_by_product_id(f.product_id).name == "Egg" %}
                                        {{ f.quantity }}
                                    {% else %}
                                        {{ f.quantity }} {{ f.find_by_product_id(f.product_id).unit }}
                                    {% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        

                    </div>

                </div>

                <div class="col-12 col-lg-4"  >
                    <div class="blog-sidebar-area">

                        <!-- Widget -->
                       

                        <!-- Widget -->
                        <div  class="single-widget mb-80">
                            <div class="quote-area text-center">
                                <span>Daily Suggestion:</span>
                                <h4>
                                    {% if suggested_recipe.name == "suggestion failled" %}
                                    You don't have enough products! </br>
                                    {% endif %}

                                    
                                    {% if suggested_recipe.name != "suggestion failled" %}
                                        Title: <a style="font-size:20px;" href="/recipes/{{ suggested_recipe.id }}">{{ suggested_recipe.name }} </a></br>
                                        
                                        Time to prepare: {{ suggested_recipe.time }} mins <br>
                                        
                                    {% endif %}
                                </h4>
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    {% endblock %}
</body>

</html>