<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Recipes</title>
</head>
<body>
    <div style="margin-top: 5rem;">
        <div class="page">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/recipes" class="menu__link">Recipes</a></li>
                {% if not current_user.is_authenticated %}
                    <li class="menu__group"><a href="/login" class="menu__link">Log In</a></li>
                    <li class="menu__group"><a href="/register" class="menu__link">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="menu__group"><a href="/my_recipes" class="menu__link">My Recipes</a></li>
                    <li class="menu__group"><a href="/create_recipe" class="menu__link">Create</a></li>
                    <li class="menu__group"><a href="/profile" class="menu__link">Profile</a></li>
                    <li class="menu__group"><a href="/logout" class="menu__link">Logout</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    
</body>
</html>