<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Recipe</title>
</head>
<body>
    <div style="margin-top: 5rem;">
        <div class="page">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/recipes" class="menu__link">Recipes</a></li>
                {% if not current_user.is_authenticated %}
                    <li class="menu__group"><a href="/login" class="menu__link">Log In</a></li>
                    <li class="menu__group"><a href="/register" class="menu__link">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="menu__group"><a href="/my_recipes" class="menu__link">My Recipes</a></li>
                    <li class="menu__group"><a href="/create_recipe" class="menu__link">Create</a></li>
                    <li class="menu__group"><a href="/profile" class="menu__link">Profile</a></li>
                    <li class="menu__group"><a href="/logout" class="menu__link">Logout</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="card">
        Title: {{ recipe.name }} </br>
        Description: {{ recipe.description }} </br>
        {% for ingredient in ingredients %}
            {{ product.find(ingredient.product_id).name }} <br>
            {{ ingredient.quantity }} {{ product.find(ingredient.product_id).unit }} <br>
        {% endfor %}

        {% if user_id == recipe.user_id %}
            <form action="/my_recipes/{{ recipe.id }}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/recipes/{{ recipe.id }}/edit">Edit</a>
        {% endif %}
    </div>


    {% for f in missing_products %}
    <div class="card">
        Name of the product {{ f.get_product_name(f.id) }} </br>
        Quantity: {{ f.quantity }} </br>
        Unit: {{ f.get_product_unit(f.id) }}  </br>
    </div>
    {% endfor %}
    
</body>
</html>